/* index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
@media (min-width: 640px) {
  .bg-desktop {
    background-image: url('https://ik.imagekit.io/x6p94nrv0m/LANDING%20PAGE%20-%20DESKTOP%20(1).png?updatedAt=1720113947735');
  }
}

@media (max-width: 639px) {
  .bg-mobile {
    background-image: url('https://ik.imagekit.io/x6p94nrv0m/LOGIN%20PAGE%20-%20MOBILE%20(1).png?updatedAt=1720975715840');
  }
}

.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-gradient-custom {
  background-image: linear-gradient(to right, #A357BB, #F088D9);
}

.background-mobile {
  background-image: url('https://ik.imagekit.io/x6p94nrv0m/LOGIN%20PAGE%20-%20MOBILE.png?updatedAt=1720461996096');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.backround-login {
  background-image: url('https://ik.imagekit.io/x6p94nrv0m/LOGIN%20PAGE%20-%20DESKTOP%20(1).png?updatedAt=1720543048768'); /* Update the path to the actual path of your image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
 
}
/*  */
.backround-ticket {
  background-image: url('https://ik.imagekit.io/x6p94nrv0m/CHOOSE%20TICKET%20PAGE%20-%20DESKTOP.png?updatedAt=1720551963335'); /* Update the path to the actual path of your image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  /* height: 1200px; */
}
.backround-payment {
  background-image: url('https://ik.imagekit.io/x6p94nrv0m/FIX%20PAYMENT%20-%20DESKTOP.png?updatedAt=1720723279826'); /* Update the path to the actual path of your image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  
}
.backround-invoice {
  background-image: url('https://ik.imagekit.io/x6p94nrv0m/INVOICE%20-%20DESKTOP.png?updatedAt=1720784842414'); /* Update the path to the actual path of your image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  
}

@font-face {
  font-family: 'CustomFont';
  src: url('./fonts/Blackriver-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CircularStd';
  src: url('./fonts/circular-std-medium-500.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.barcode {
  left: 50%;
  box-shadow: 1px 0 0 1px, 5px 0 0 1px, 10px 0 0 1px, 11px 0 0 1px, 15px 0 0 1px, 18px 0 0 1px, 22px 0 0 1px, 23px 0 0 1px, 26px 0 0 1px, 30px 0 0 1px, 35px 0 0 1px, 37px 0 0 1px, 41px 0 0 1px, 44px 0 0 1px, 47px 0 0 1px, 51px 0 0 1px, 56px 0 0 1px, 59px 0 0 1px, 64px 0 0 1px, 68px 0 0 1px, 72px 0 0 1px, 74px 0 0 1px, 77px 0 0 1px, 81px 0 0 1px, 85px 0 0 1px, 88px 0 0 1px, 92px 0 0 1px, 95px 0 0 1px, 96px 0 0 1px, 97px 0 0 1px, 101px 0 0 1px, 105px 0 0 1px, 109px 0 0 1px, 110px 0 0 1px, 113px 0 0 1px, 116px 0 0 1px, 120px 0 0 1px, 123px 0 0 1px, 127px 0 0 1px, 130px 0 0 1px, 131px 0 0 1px, 134px 0 0 1px, 135px 0 0 1px, 138px 0 0 1px, 141px 0 0 1px, 144px 0 0 1px, 147px 0 0 1px, 148px 0 0 1px, 151px 0 0 1px, 155px 0 0 1px, 158px 0 0 1px, 162px 0 0 1px, 165px 0 0 1px, 168px 0 0 1px, 173px 0 0 1px, 176px 0 0 1px, 177px 0 0 1px, 180px 0 0 1px;
  display: inline-block;
  transform: translateX(-90px);
}